<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why</title>
</head>
<body>
    <h1>Why should you read?</h1>
    <p> {{message}}</p>
    <p ng-show="person">Hello {{person.first}}  {{person.last}}</p>
   
				<p>According to research conducted at the University of Toronto, <strong><em>study participants who read short-story fiction experienced far less need for "cognitive closure" compared with counterparts who read nonfiction essays. Essentially, they tested as more open-minded, compared with the readers of essays</em></strong>. "Although nonfiction reading allows students to learn the subject matter, it may not always help them in thinking about it," the authors write. "A physician may have an encyclopedic knowledge of his or her subject, but this may not prevent the physician from seizing and freezing on a diagnosis, when additional symptoms point to a different malady." </p>
   
</body>
</html>