<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why</title>
</head>
<body>
    <h1>Why should you read?</h1>
    <p> {{message}}</p>
    <p ng-show="person">Hello {{person.first}}  {{person.last}}</p>
    <p>
        You're not doing yourself any favors if you're in the 26 percent of American adults who haven't read even part of a book within the past year. 
    </p>
    <br>
				<div id="vid">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/muuWRKYi09s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
</body>
</html>