h1{
    background: #f4f4f4;
    padding: 1rem;
     text-align: center;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}
.btn:hover {
  background: #444;
}


.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 3rem 2rem;
   font-family: Arial, Helvetica, sans-serif;
   column-gap: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

 th, td { 
                width:150px; 
                text-align:center; 
              
                padding:5px 
        }