body{
	background-color:#E7FFF6;
	color:black;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
	background-image:url('../images/ibg.jpg');
	background-size:     cover;                      /*fit to width*/
    background-repeat:   no-repeat;
    background-position: center center; 
        
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	
}
.block a{
	text-decoration-line: underline;
    text-decoration-style: wavy;
	color:#004081;
	margin-top: -20px;
}

#main-header{
	background-color:#00468C;
	color:#fff;
}


#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}


#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;

}
#navbar a:hover{
	color:#00468C;
	/*NOTICE!!! */
}

.block a:visited{
	color:#A4C4E3;
	/*NOTICE!!! */
}

#showcase{
	background-image:url('../images/bg.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
}
 


#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;


}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background: #00468C;
	opacity: 70%;
	color:#fff;
	padding:10px 30px;
	box-sizing: border-box;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}



@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}