<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script src="product.js"></script>
</head>
<body ng-app="myapp" ng-controller="myctrl">
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Index</th>
            <th>Book ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Options</th>
        </tr>
        <tr ng-repeat="product in listProducts">
            <td>{{$index}}</td>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>
                <a href="#" ng-click="delete()">Delete</a> |
                <a href="#" ng-click="edit(product.id)">Edit</a>
            </td>
        </tr>
    </table>
    <h3>Book Details</h3>
    <table cellpadding="2" cellspacing="2">
        <tr>
            <td>Book ID</td>
            <td><input type="text" ng-model="id"></td>
        </tr>
        <tr>
            <td>Tile</td>
            <td><input type="text" ng-model="name"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" ng-model="price"></td>
        </tr>
        <tr>
            <td>Stock</td>
            <td><input type="text" ng-model="quantity"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="button" value="ADD" ng-click="add()">
            <input type="button" value="SAVE" ng-click="save()"></td>
        </tr>
    </table>
    
</body>
</html>